@import "_variables";

// Global styling for this template
.progress-container {
  width: 100%;
  height: 4px;
  background: #ccc;
  position: fixed;
}

.progress-bar {
  height: 4px;
  background: $gray-700;
  width: 0%;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $white;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $white;
}

body {
  @include body-font;
  padding-top: 54px;
  color: $white;
  background-color: $my-dark-primary;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: #c8cfd6;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.social-icons {
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: black;
    color: $white !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    transition: background-color 200ms ease-in-out;
    border: 2px solid rgb(255, 255, 255);
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: rgb(206, 206, 206);
      color: $my-dark-primary !important;
      transition: background-color 200ms ease-in-out;
      border: 2px solid rgb(0, 0, 0);
    }
  }
}

.dev-icons {
  font-size: 3rem;
  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}

.resume {
  border: 2px solid white !important;
  padding: 0 10px;
  transition: background-color 200ms ease-in-out;
}

.resume:hover {
  text-decoration: none !important;
  background: rgb(206, 206, 206) !important;
  color: black !important;
  transition: background-color 200ms ease-in-out;
}

.container-fluid {
  .name {
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }

  .social-icons {
    .fab {
      animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.7em;
    opacity: 0.1;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
