.bg-blazor {
  background: url("../img/logos.png") -5px -19px;
  width: 1000px;
  height: 1000px;
  display: inline-block;
  zoom: 0.1;
}
.bg-bootstrap {
  background: url("../img/logos.png") -1010px -374px;
  width: 768px;
  height: 645px;
  display: inline-block;
  zoom: 0.13;
}
.bg-csharp {
  background: url("../img/logos.png") -1783px -507px;
  width: 512px;
  height: 512px;
  display: inline-block;
  zoom: 0.2;
}
.bg-css {
  background: url("../img/logos.png") -2300px -507px;
  width: 512px;
  height: 512px;
  display: inline-block;
  zoom: 0.19;
}
.bg-html {
  background: url("../img/logos.png") -2817px -507px;
  width: 512px;
  height: 512px;
  display: inline-block;
  zoom: 0.15;
}
.bg-jquery {
  background: url("../img/logos.png") -3334px -507px;
  width: 512px;
  height: 512px;
  display: inline-block;
  zoom: 0.15;
}
.bg-js {
  background: url("../img/logos.png") -3851px -507px;
  width: 512px;
  height: 512px;
  display: inline-block;
  zoom: 0.2;
}
.bg-ngrx {
  background: url("../img/logos.png") -4368px -19px;
  width: 1000px;
  height: 1000px;
  display: inline-block;
  zoom: 0.1;
}
.bg-reactnative {
  background: url("../img/logos.png") -5373px -0px;
  width: 880px;
  height: 1019px;
  display: inline-block;
  zoom: 0.1;
}
.bg-rxjs {
  background: url("../img/logos.png") -6258px -507px;
  width: 512px;
  height: 512px;
  display: inline-block;
  zoom: 0.15;
}
.bg-SefatAnam {
  background: url("../img/logos.png") -6775px -518px;
  width: 501px;
  height: 501px;
  display: inline-block;
  zoom: 0.45;
}
.bg-sql {
  background: url("../img/logos.png") -7281px -84px;
  width: 935px;
  height: 935px;
  display: inline-block;
  zoom: 0.09;
}
.bg-typeScript {
  background: url("../img/logos.png") -8221px -763px;
  width: 256px;
  height: 256px;
  display: inline-block;
  zoom: 0.3;
}
.bg-vs19 {
  background: url("../img/logos.png") -8482px -819px;
  width: 200px;
  height: 200px;
  display: inline-block;
  zoom: 0.33;
}
.bg-vscode {
  background: url("../img/logos.png") -8687px -763px;
  width: 256px;
  height: 256px;
  display: inline-block;
  zoom: 0.28;
}
.bg-angular {
  background: url("../img/logos.png") -8948px -507px;
  width: 482px;
  height: 512px;
  display: inline-block;
  zoom: 0.15;
}
.bg-aspnetmvc {
  background: url("../img/logos.png") -9435px -569px;
  width: 764px;
  height: 450px;
  fill: wheat;
  display: inline-block;
  zoom: 0.2;
}
